body{
    background-color: purple;
    text-align: center;
}
h1{
    color:rgb(51, 247, 14)

}
h2{
    color:rgb(51, 247, 14)
  
}
p{
    color:rgb(51, 247, 14)
   
}
.TextoBorda {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0.2);
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    background-image: url("../imagens/fundoDoSite.png");
    background-color: #000000;
}
a {
    text-decoration: nome;
    color: #01f121;
    font-weight: bold;
    transition: 0.3s;
}
a:hover {
    color: #fbff05fd;
}
a:active {
    color: purple;
}